<div class="encounters-container">
  <div class="encounters-header">
    <h1> Recent Encounters </h1>
    <p> See an Alien? Report it! </p>
  </div>
<section class="encounter-reports">
    <div class="list-reports" *ngFor="let encounter of encounters">
      <p class="date-alien">{{encounter.date}} - {{encounter.atype}}</p>
      <p class="action">{{encounter.action}}</p>
    </div>
  </section>
  <section>
     <button class="encounter-button" [routerLink]="['/report']">Report an Encounter</button>
  </section>
</div>
